<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>みんなのオススメ山（さん）をシェアしよう！！</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="top-wrapper">
    <h1>Welcome to the world of outdoors‼</h1>
    <h2>さぁ、あなたのおすすめ山（さん）をシェアしよう！</h2>
    <%= link_to "仲間入り!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>