<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    <td><%= l @user.created_at, format: :short %></td>
    <% if current_user?(micropost.user) %>      <%= link_to "削除", micropost, method: :delete,
                                       data: { confirm: "削除していいですか?" } %>
    <% end %>
  </span>
  
  <% if !current_user?(micropost.user) %>
    <% if current_user.likes.find_by(micropost_id: micropost.id) %>
      <%= link_to "いいね解除", micropost_like_path(micropost, micropost.user.id), method: :delete %>
    <% else %>
      <%= link_to "いいね", micropost_likes_path(micropost, user: micropost.user.id), method: :post %>
    <% end %>
  <% end %>
</li>